
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="field  small-12 medium-offset-4 medium-4 cell">
      <h2>Ingresar</h2>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
      <%= f.submit "Continuar", class:"button medium-12 small-12 " %>
      <% if devise_mapping.rememberable? %>
        <%= f.label :remember_me, "Recordar", class:"button secondary-inverted medium-12 small-12 small " %>   
        <%= f.check_box :remember_me, class:"display-none" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<% end %>

