<p id="notice"><%= notice %></p>
<h3>Ajenda</h3>
<%= link_to 'Calendar view', calendar_path %>
<table class="unstriped stack">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Duracion</th>
      <th>Asignado a:</th>
      <th>Cliente</th>
      <th>Ubicacion</th>
      <th>Servicio</th>
      <th>Status</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
          <td><strong><%= link_to appointment.date_time_human, appointment  %></strong></td>
          <td><%= appointment.duration %></td>
          <td><%= appointment.user_id %></td>
          <td><%= appointment.customer_id %></td>
          <td><%= appointment.location_id %></td>
          <td><%= appointment.product_id %></td>
          <td><%= render 'appointments/check_control', model: appointment, locals: {size:"small"}  %></td>
          <td><%= render '/admin_controls', model: appointment, locals: {size:"small", col_nbr_width:5 } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


